:root {
	--font-body-family: "Golos Text", sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;

	--font-heading-family: "Merriweather", sans-serif;
	--font-heading-style: normal;
	--font-heading-weight: 400;

	--main-text-color: 49, 49, 49;
	--secondary-color: 251, 206, 81;
	--main-button-color: 31, 31, 31;
	--link-color: 48, 87, 162;
}

html {
	font-size: calc(1 * 62.5%);
}

html,
body {
	color: rgb(var(--main-text-color));
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-heading-family);
	font-style: var(--font-heading-style);
	font-weight: var(--font-heading-weight);
}

h1 {
	font-size: 3.6rem;
	line-height: 1.1;
}

h2 {
	font-size: 3.6rem;
	line-height: 1.1;
}

h3 {
	font-size: 2.8rem;
	line-height: 1.35;
}

@media screen and (min-width: 767px) {
	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 5.4rem;
		line-height: 1.2;
	}

	h3 {
		font-size: 3.6rem;
	}
}
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.link {
	color: rgb(var(--link-color));
	font-size: 1.8rem;
	line-height: 1.2;
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
}

@media screen and (min-width: 767px) {
	.link {
		font-size: 2rem;
	}
}

.img-texture {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../img/texture.png);
		mix-blend-mode: color-burn;
	}
}

.container {
	max-width: 1262px;
	padding: 0 20px;
	margin: 0 auto;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 18px 0;
}

.hero {
	background-image: url(../img/hero/hero-bg.png);
	background-color: #e9ded4;
	background-repeat: no-repeat;

	padding-top: 92px;
	min-height: calc(100vh - 38px);
	position: relative;
}

.hero__content {
	position: relative;
	z-index: 1;

	max-width: 542px;
}

.hero__title {
	text-transform: uppercase;

	span {
		display: block;
	}
}

.hero__text {
	font-size: 1.8rem;
	line-height: 1.3;
	margin-top: 2.4rem;
}

.hero__buttons {
	margin-top: 3rem;
	display: grid;
	gap: 1.4rem;
}

.hero__button {
	background-color: rgb(var(--main-button-color));
	color: #fff;
	font-size: 1.6rem;
	line-height: 1.3;
	font-weight: 500;
	padding: 13px 10px;
	border-radius: 66px;
	text-align: center;
}

.hero__button--secondary {
	background-color: rgba(255, 255, 255, 0.9);
	color: rgb(var(--main-button-color));
}

.ticker {
	position: relative;
	padding: 10px 0px;
	background-color: #f54932;
	height: 38px;
}

.ticker__container {
	position: absolute;
	z-index: 3;
	width: 100%;
	overflow: hidden;
	display: flex;
}

.ticker span {
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 1.6rem;
	color: white;
}

.event-info {
	margin-top: 4.8rem;
}

.event-info__lecture {
	display: grid;
	gap: 24px;
	justify-items: center;

	.event-info__row {
		display: contents;
	}
}

.event-info__title {
	text-transform: uppercase;
	display: inline;

	span {
		font-weight: 700;
		color: #f54932;
	}
}

.event-lecture__img {
	background-color: #fff;

	img {
		-webkit-mask-image: url("../img/event-info/ellipse.svg");
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		-webkit-mask-size: cover;
		mask-image: url("../img/event-info/ellipse.svg");
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: cover;

		aspect-ratio: 335/212;
		object-fit: cover;
	}
}

.event-info__session {
	margin-top: 3.4rem;
	display: grid;
	gap: 24px;
}

.event-session__img {
	position: relative;
	background-color: #fff;
	margin: 0 -20px;
}

.event-info__table {
	margin-top: 2.9rem;
}

.event-table__row {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 15px 0;
}

.event-table__label {
	font-size: 2rem;
	line-height: 1.2;
	color: rgba(var(--main-text-color), 0.7);
}

.event-table__text {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.event-table__price {
	text-decoration: line-through;
	text-decoration-color: #f54932;
}

.event-info__link {
	margin-top: 2.6rem;
}

.stages {
	margin-top: 120px;
}

.stages__title {
	text-transform: uppercase;
}

.stages__link {
	margin-top: 1.2rem;
	text-transform: initial;
	display: inline-block;
}

.stages__slider {
	position: relative;
}

.slider-stages__airplane {
	position: absolute;
	z-index: 3;
}

.slider-stages__slide {
	padding-top: 42px;
	position: relative;
}

.slider-stages__card {
	padding: 20px;
	display: flex;
	gap: 16px;
	background-image: url("../img/stages/stages-card-bg.png");
	background-size: cover;
}

.slider-stages__number {
	font-size: 2rem;
	line-height: 1;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-basis: 36px;
	flex-shrink: 0;
	width: 36px;
	height: 36px;
	background-color: #fff;
	border-radius: 50%;
}

.slider-stages__text {
	font-size: 1.8rem;
	line-height: 1.2;
	font-weight: 500;
}

.participants {
	margin-top: 120px;
	margin-bottom: 100px;
}

.participants__title {
	text-transform: uppercase;
}

.participants__slider {
	margin-top: 4rem;
}

.slider-participants__slide {
	text-align: center;
}

.slider-slide {
	display: grid;
	justify-items: center;
}

.slider-participants__image {
	max-width: 244px;
}

.slider-participants__name {
	margin-top: 2.9rem;
	font-family: var(--font-body-family);
	font-size: 2.4rem;
	line-height: 1.2;
	font-weight: 600;
}

.slider-participants__title {
	margin-top: 0.8rem;
	font-size: 2rem;
	line-height: 1.2;
	color: rgba(var(--main-text-color), 0.6);
}

.slider-participants__btn {
	display: inline-block;
	color: rgb(var(--link-color));
	font-size: 1.6rem;
	line-height: 1.2;
	font-weight: 500;

	margin-top: 1.9rem;
	padding: 0.7rem 1.2rem;
	border: 1px solid rgb(var(--link-color));
	border-radius: 62px;
}

.slider-participants__navigation {
	margin-top: 4rem;
	gap: 14px;
}

.footer {
	background-color: #e9ded4;
}

.footer__content {
	padding-top: 40px;
	padding-bottom: 60px;
}

.footer__text {
	font-size: 1.6rem;
	line-height: 1.2;
	color: rgba(var(--main-text-color), 0.6);
}

@media screen and (max-width: 768px) {
	.header__logo {
		max-width: 213px;
	}

	.hero {
		background-position: center calc(100% + 27px);
	}

	.event-info__title {
		&:last-child {
			order: 3;
		}
	}

	.event-lecture__img {
		order: 2;
	}

	.event-table__row {
		&:not(:last-child) {
			border-bottom: 2px solid #d0d0d0;
		}
	}

	.stages__slider {
		padding-top: 103px;
	}

	.slider-stages__slide {
		display: grid;
	}

	.slider-stages__card {
		&:last-child {
			padding: 10px 20px 38px;
		}

		&:first-child {
			padding-top: 62px;
		}
	}

	.slider-stages__airplane {
		top: 17px;
		left: 0;
	}
}

@media screen and (min-width: 767px) {
	.hero {
		background-image: url(../img/hero/hero-bg-ds.png);
		background-size: contain;
		padding-top: 116px;
		min-height: 700px;
	}

	.hero__buttons {
		margin-top: 4rem;
		grid-template-columns: 1fr 1fr;
	}

	.hero__button {
		padding: 13px 46px;
		transition: color 0.3s ease, background 0.3s ease;
	}

	.hero__button--secondary {
		background-color: transparent;
		border: 2px solid rgb(var(--main-button-color));
	}

	.hero__text {
		text-align: center;
	}

	.ticker {
		height: 60px;
		padding: 18px 0px;
	}

	.ticker span {
		font-size: 2.4rem;
	}

	.event-info {
		margin-top: 8rem;
	}

	.event-info__lecture {
		display: flex;
		justify-content: space-between;
		gap: 0px 64px;
		align-items: center;

		.event-info__row {
			flex: 1 1 62.5%;

			display: block;
		}
	}

	.event-info__session {
		margin-top: 3.8rem;
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}

	.event-info__text-content {
		padding-top: 28px;
		flex: 1 1 57.6%;
	}

	.event-lecture__img {
		flex: 1 1 32%;
	}

	.event-session__img {
		margin: 0 -25px;
		flex: 1 1 43%;
	}

	.event-info__table {
		margin-top: 6rem;
	}

	.event-table__row {
		display: grid;
		grid-template-columns: 43.5% 1fr;
		padding: 0;
		border: none;
		gap: 0;

		&:first-child {
			.event-table__label {
				padding-top: 0;
			}

			.event-table__text {
				padding-top: 0;
			}
		}

		&:not(:last-child) {
			.event-table__label {
				border-bottom: 2px solid #d0d0d0;
			}

			.event-table__text {
				border-bottom: 2px solid #d0d0d0;
			}
		}
	}

	.event-table__label {
		padding: 15px 15px 15px 0;
	}

	.event-table__text {
		padding: 15px 0 15px 15px;
		border-left: 2px solid #d0d0d0;
	}

	.event-info__link {
		margin-top: 3.3rem;
		font-size: 2rem;
	}

	.stages {
		margin-top: 190px;
		overflow: hidden;
	}

	.stages__title {
		max-width: 806px;
	}

	.stages__link {
		margin-top: 0;
		margin-left: 0.7rem;
		max-width: 280px;
	}

	.stages__slider {
		margin-top: 5.4rem;
		overflow: initial;
	}

	.slider-stages__wrapper {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
	}

	.slider-stages__card--horizontal {
		grid-column: 1 / 3;
		.slider-stages__text {
			max-width: 446px;
		}
	}

	.slider-stages__slide {
		display: contents;
	}

	.slider-stages__text {
		font-size: 2rem;
	}

	.slider-stages__airplane {
		bottom: 0;
		right: -40px;
		max-width: 300px;
	}

	.slider-stages__navigation {
		display: none;
	}

	.participants {
		margin-top: 200px;
		margin-bottom: 140px;
	}

	.participants__content {
		position: relative;
	}

	.participants__slider {
		margin-top: 6rem;
		position: static;
	}

	.slider-participants__image {
		max-width: 320px;
	}

	.slider-participants__name {
		margin-top: 2.8rem;
	}

	.slider-participants__title {
		margin-top: 0.8rem;
	}

	.slider-participants__btn {
		margin-top: 1.6rem;
		padding: 0.8rem 1.2rem;
	}

	.slider-participants__navigation {
		margin-top: 0;
		position: absolute;
		top: 10px;
		right: 0;
	}

	button.slider-participants__button {
		width: 44px;
		height: 44px;
	}

	.footer__content {
		padding-bottom: 72px;
	}
}

@media screen and (min-width: 1222px) {
	.slider-stages__wrapper {
		grid-template-areas:
			"a b vertical"
			"a b vertical"
			"a horizontal horizontal";
		grid-auto-columns: 1fr;
		grid-auto-rows: minmax(112px, auto);
	}

	.slider-stages__card--vertical {
		grid-area: vertical;
	}

	.slider-stages__card--horizontal {
		grid-area: horizontal;
	}

	.slider-stages__airplane {
		bottom: 0;
		right: -63px;
		max-width: 100%;
	}
}

@media screen and (min-width: 1367px) {
	.hero {
		background-image: url(../img/hero/hero-bg-ds-wide.png);
	}
}

@media (any-hover: hover) {
	.hero__button:hover {
		color: rgb(var(--main-button-color));
		background-color: rgb(var(--secondary-color));
	}

	.hero__button--secondary:hover {
		color: #fff;
		background-color: rgb(var(--main-button-color));
	}

	.slider-participants__btn {
		transition: color 0.3s ease, background 0.3s ease;

		&:hover {
			color: #fff;
			background-color: rgb(var(--link-color));
		}
	}
}
